{% extends "emp_base.html" %}
{% block content %}


<div style="font-size: 16px;">
  <h4>APPLY LEAVE</h4>

    <form action="{% url 'show' %}" method="POST">
      {% csrf_token %}
      {% csrf_token %}
      <h5>Type Of Leave: </h5>{{rows.leave}} <br><br>
      <h5>From</h5>{{rows.holidayfrom}} <br><br>
      <h5>To</h5>{{rows.holidayto}} <br><br>
      <h5>Reason</h5>{{rows.detail}} <br>
      
      <input type="submit" value="Apply" style="padding-left: 15px;padding-right:15px;background:  #4db8ff;">
    </form>

  </div>

{% endblock content %}
