{% extends "emp_base.html" %}
{% block content %}
<div class="container maindiv">
        
    <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <ul class="form-style-1">
            <h4 style="background: #0082e6; padding:12px;color:white;">UPDATE PROFILE</h4>
            <li><label>Full Name <span class="required">*</span></label>{{form1.first_name}} {{form1.last_name}} </li>
            
            <li>
                <label>Email <span class="required">*</span></label>
                {{form1.email}}
            </li>
            <li>
                <label>Catagory</label>
                {{form.catagory}}
            </li>
            <li>
                <label>DEPARTMENT</label>
                {{form.department}}
            </li>

            <li>
                <label>MOBILE <span class="required">*</span></label>
                {{form.phone}}
            </li>
            <li>
                <label>USER NAME </label>
                <input type="text" name="password" class="field-long"  maxlength="15" value=" {{user.username}}" readonly/>              
            </li>

            <li>
                <input type="submit" value="Submit" />
            </li>
        </ul>
        </form>
</div>

{% endblock content %}

