{% extends "emp_base.html" %}
{% block content %}

<h4>LIST OF ALL PENDING APPLICATIONS</h4>
            
<div class="detail" style="width: 100%;font-size:14px;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Reason</th>
            <th scope="col">Posting Date</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {% for rows in datavalue %}
          {% if rows.varify != True %}
            <tr>
              <th scope="row">#</th>
              <td>{{rows.leave}}</td>
              <td>{{rows.detail}}</td>
              <td>{{rows.publish_date}}</td>
              <td>{{rows.holidayfrom}}</td>
              <td>{{rows.holidayto}}</td>
              <td><span style="color: red;">Pending</span></td>
          </tr>
          {% endif %}
          {% endfor %}

          </tbody>
        </table>
    </div>
      

{% endblock content %}
