*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a:link {
    color: #fff;
}
  /* visited link */
  a:visited {
    color: #fff;
  }
  /* mouse over link */
  a:hover {
    color: #fff;
  }
  /* selected link */
  a:active {
    color: #fff;
}

body{
    font-family: 'lato', serif;
    background:#f2f2f2;
}
.navdata{
    background-color: #0082e6;
    width: 100%;
    line-height: 40px;
}
.brand{
    color: #fff;
    padding-left: 50px;
    font-size: 20px;
}
.left{
    color: red;
    background: white;
    height:100vh;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 10px;
}
.left ul li a{
    color: black;
}

.namelogo{
    padding-left: 30px;
    padding: 15px;
    padding-top: 15px;
    color: black;
}

.right{
    margin-left: 25px;
    height:100vh;
    background:white;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 25px;
}

.btnsub{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

.tt input{
    width: 80%;
    font-size: 16px;
}
.deskhead{
    padding-top: 10px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .detail{
    background-color: #f2f2f2;
}
.btn{
    background-color: #69b2eb;
    padding-left:20px;
    padding-right: 20px;
    color: black;
    font-weight: 600;
}


label{
    font-size: 20px;
}

@media only screen and (max-width: 600px){
    .left{
        height: auto;
    }.brand{
        font-size: 16px;
        padding: 0px;
    }.navdata{
        height: 70px;
    }
}

